/* shame: 9D2D19, FF431A, CCCB3E */
:root {
    --chop-color-dark: #AC1E06 !important;
    --chop-color-mid: #E83E00 !important;
    --chop-color-light: #F9E4D9 !important;
}

.chop-header,
.chop-footer {
    background-color: var(--chop-color-dark) !important;
}

.chop-section-odd {
    background-color: white !important;
}

.chop-section-even {
    background-color: var(--chop-color-light) !important;
}

/* header text */
.sqsrte-text-color--lightAccent,
.sqs-block-image .design-layout-card .image-title * {
    color: var(--chop-color-dark) !important;
}

.thumb-image .loaded {
    background-color: var(--chop-color-light) !important;
}

/* all text for homepage middle sections */
.sqs-block-image .design-layout-card .image-subtitle * {
    color: var(--chop-color-dark) !important;
}

/* middle buttons */
#siteWrapper .sqs-button-element--primary,
#siteWrapper .header-actions-action--cta .sqs-button-element--primary {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--chop-color-dark);
    border-color: var(--chop-color-dark);
}

#siteWrapper .sqs-button-element--primary:hover,
#siteWrapper .header-actions-action--cta .sqs-button-element--primary:hover {
    background-color: var(--chop-color-light);
}

/* header/footer buttons */
#siteWrapper .sqs-button-element--secondary,
#siteWrapper .header-actions-action--cta .sqs-button-element--primary {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border-color: white;
}

#siteWrapper .sqs-button-element--secondary:hover,
#siteWrapper .header-actions-action--cta .sqs-button-element--primary:hover {
    background-color: var(--chop-color-mid);
}


.header-display-desktop .header-title-logo:hover img.chop-primary {
    display: none;
}

.header-display-desktop .header-title-logo img.chop-alt {
    visibility: hidden;
    display: none;
}

.header-display-desktop .header-title-logo:hover img.chop-alt {
    visibility: visible;
    display: block;
}

/* footer contact info */
.sqs-block.html-block.sqs-block-html {
    display: flex; align-items: center; justify-content: center;
}


/* Make homepage text full width on mobile */
@media (max-width: 900px) {
    .sqs-block-image .design-layout-card:not(.sqs-narrow-width) {
        flex-direction: column !important;
    }   
    .sqs-block-image .design-layout-card:not(.sqs-narrow-width)>div:first-child {
        width: 100% !important;
    }
    .image-card-wrapper {
        width: 100% !important;
    }
    .sqs-block-image .design-layout-card:not(.sqs-narrow-width).image-position-left .image-card-wrapper {
        margin-left: auto;
    }
}

