.sqsrte-text-color--white {
    color: hsla(var(--white-hsl), 1);
}

.sqsrte-text-color--black {
    color: hsla(var(--black-hsl), 1);
}

.sqsrte-text-color--safeLightAccent {
    color: hsla(var(--safeLightAccent-hsl), 1);
}

.sqsrte-text-color--safeDarkAccent {
    color: hsla(var(--safeDarkAccent-hsl), 1);
}

.sqsrte-text-color--safeInverseAccent {
    color: hsla(var(--safeInverseAccent-hsl), 1);
}

.sqsrte-text-color--safeInverseLightAccent {
    color: hsla(var(--safeInverseLightAccent-hsl), 1);
}

.sqsrte-text-color--safeInverseDarkAccent {
    color: hsla(var(--safeInverseDarkAccent-hsl), 1);
}

.sqsrte-text-color--accent {
    color: hsla(var(--accent-hsl), 1);
}

.sqsrte-text-color--lightAccent {
    color: hsla(var(--lightAccent-hsl), 1);
}

.sqsrte-text-color--darkAccent {
    color: hsla(var(--darkAccent-hsl), 1);
}